@import url("../lib/styles/reset.css");
@import url("../lib/styles/root.css");

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 62.5%;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: __pretendard_fde3a9, __pretendard_Fallback_fde3a9;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

input,
button {
  font-family: __pretendard_fde3a9, __pretendard_Fallback_fde3a9;
}

button {
  border: none;
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
